.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0 30px 0;
    max-width: 450px;

    input,
    select,
    textarea {
        padding: 6px;
        font-family: $--base-font;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border: 1px solid $--grey;
        border-radius: 8px;

        &:focus-visible {
            border: 2px solid $--grey;
            outline: unset;
        }
    }

    input[type='submit'] {
        background-color: $--button-bg-blue;
        border: none;
        color: $--white;
        border-radius: 7px;
        transition: all 200ms ease-in-out;
        padding: 8px 18px 8px 18px;
        font-size: 15px;

        &:hover {
            cursor: pointer;
            background-color: $--button-bg-blue--hover;
            border-radius: 13px;
        }
    }

    input[type='checkbox'] {
        width: fit-content;
        box-shadow: unset;
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: 5px;
        &--horizontal {
            gap: 8px;
            align-items: center;
            flex-direction: row;
        }
        &--hidden {
            overflow: hidden;
            max-height: 0px;
            transition: all 200ms ease-in-out;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        margin: 15px 0 0 0;
        > .button {
            font-size: 15px;
        }
    }
    &--delete {
        input[type='submit'] {
            background-color: $--button-bg-red;
            &:hover {
                background-color: $--button-bg-red--hover;
            }
        }
    }
}

